{% assign products_string = "free-2bb-ankle-sock,lucky-2bb-calf-socks" %}
{% comment %}
{% assign products = products | split: '|' %}
{% assign product_handle = products[0] | escape %}
{{ product_handle }}
{% capture 'products_string' %}
  {%- for product_item in products -%}{%- assign product_handle = product_item | split: " " | join: "" -%}{%- assign product = all_products[product_handle] -%}{{- product.handle -}}{%- if forloop.index != products.size -%},{%- endif -%}{%- endfor -%}
{% endcapture %}
{% endcomment %}
<div id="free-product-2bb-container">
  <div class="free-product-2bb free-product-popup free-product-popup-wrapper" data-expire-cookie="18 Mar 2022 23:59:59 UTC" data-products="{{ products_string | strip }}" role="dialog" aria-modal="true" aria-labelledby="free-product-title">
    <div class="free-product-popup-container" onclick="closeModal()">
      <div class="free-product-popup" onclick="clickModal(event)">
        <div class="free-product-header">
          <h2 id="free-product-title" tabindex="0">Your order qualifies for a free pair of socks!</h2>
          <p>Choose your style and color, then add your free pair of socks to cart</p>
        </div>
        <div class="free-product-content">
          <div class="free-product-loader">
            {% include 'loader' %}
          </div>
          <div class="free-product-inner">

          </div>
        </div>
        <div tabIndex="0" class="close-popup" role="button" aria-pressed="false">
          <img src="{{ 'close-x.svg' | asset_url }}" class=""/>
        </div>
      </div>
    </div>
  </div>
</div>
{{ 'popup-free-product.scss.css' | asset_url | stylesheet_tag }}
{{ 'popup-free-product.js' | asset_url | script_tag }}
