{% assign current_variant = product.selected_or_first_available_variant %}
<div class="product-single product-single-free-product-{{ product.id }}">
  <div class="text-center product-images">
    {% if product.images.size > 1 %}
      {% comment %}
        Create thumbnails if we have more than one product image
      {% endcomment %}
      <ul class="product-single__thumbnails no-bullets thumbnails" style="display: none;" id="ProductThumbs-free-product-{{ product.id }}">

        {% for image in product.images %}
          {% assign dataColor = image.alt | split: ' - ' | last | remove: ' Hover' | replace: ' ', '-' | replace: '/', '-' | replace: '-&-', '-' %}
          {% capture imgAlt %}{{ shop.name }} - {{product.type }} {{ product.title }} {{ dataColor }}{% endcapture %}
          <li>
            <a href="{{ image.src | img_url: '1000x' }}" data-image-id="{{ image.id }}" class="product-single__thumbnail
             {% if product.options.size == 1 %}
             filter-all
             {% else %}
             filter-{{ dataColor }}
             {% endif %}
             {% if forloop.first %} active{% endif %}">
              <img src="{{ image.src | img_url: '450x450', crop: 'top' }}" alt="{{ imgAlt }}" data-image-id="{{ image.id }}">
            </a>
          </li>
        {% endfor %}

      </ul>

      <div class="product-single__photos medium-down--hide" id="ProductPhoto-free-product-{{ product.id }}" {% if product.type == 'Gift'%}style="margin-top:60px"{% endif %}>
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <img src="{{ featured_image | img_url: '1000x' }}" alt="{{ imgAlt }}" id="ProductPhotoImg-free-product-{{ product.id }}">
        <div class="main-image-navigation" style="display:none;">
          <span class="prev">prev</span>
          <span class="next">next</span>
        </div>
      </div>

      <div id="owl-demo-free-product-{{ product.id }}" class="owl-carousel large--hide medium-down--show">
        {% assign dataColorCount = 0 %}
        {% for image in product.images %}
          {% assign dataColor = image.alt | split: ' - ' | last | remove: ' Hover' | replace: ' ', '-' | replace: '/', '-' | replace: '-&-', '-' %}
          {% capture imgAlt %}{{ shop.name }} - {{product.type }} {{ product.title }} {{ dataColor }}{% endcapture %}
          {% assign dataColorCount = dataColorCount | plus: 1 %}
          <div class="mthumb filter-{{ dataColor }}" data-color-count="{{ dataColorCount }}">
            <img src="{{ image | product_img_url: '1000x' }}" alt="{{ imgAlt | escape }}">
          </div>
        {% endfor %}
        <div class="owl-controls clickable">
          <div class="owl-buttons">
            <div class="owl-prev">previous image</div>
            <div class="owl-next">next image</div>
          </div>
        </div>
      </div>

      <div id="mob-product-images-free-product-{{ product.id }}" class="owl-carousel"></div>

      <script>
        var options = {
          navigation : true, // Show next and prev buttons
          navigationText: ["",""],
          slideSpeed : 300,
          paginationSpeed : 400,
          singleItem:true,
          pagination: true,
          addClassActive: true,
        };
        $("#owl-demo-free-product-{{ product.id }}").owlCarousel(options);
        $('#owl-demo-free-product-{{ product.id }} .mthumb').clone().appendTo($('#mob-product-images-free-product-{{ product.id }}'));
      </script>

    {% else %}
      <div class="product-single__photos" id="ProductPhoto-free-product-{{ product.id }}">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <img src="{{ featured_image | img_url: '1600x' }}" alt="{{ imgAlt }}" id="ProductPhotoImg-free-product-{{ product.id }}"/>
      </div>
    {% endif %}
  </div>

  <div class="product-info">
    <div class="medium-down--hide">
      {% unless product.type == 'Gift' %}
        <h1 class="product-title h5 text-center text-uppercase" itemprop="name" id="variantTitle-free-product-{{ product.id }}"></h1>
        <span class="h5">{{ product.title }}</span>
      {% else %}
        <h3 class="product-title h5 text-center text-uppercase" itemprop="name"><div style="position:relative;"> {{ product.title }} <div name="secomapp-fg-image-free-product-{{ product.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "", "sca-fg-img-collect" }} </div> </div></h3>
      {% endunless %}
    </div>

    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="{{ shop.currency }}">

      <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

      {% comment %}
        ID addToCartForm is a selector for the ajax cart plugin
      {% endcomment %}
      <form action="/cart/add" data-productid="{{ product.id }}" method="post" enctype="multipart/form-data" id="AddToCartForm-free-product-{{ product.id }}" class="form-vertical">

        {% comment %}
          Add product variants as a dropdown.
            - By default, each variant (or combination of variants) will display as its own <option>
            - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

          You can leverage jQuery to add a callback on page load and each time the select element changes:
            - Include option_selection.js (as seen at the bottom of this file)
            - This allows you to use JavaScript anytime the variant dropdown changes
            - This also separates out your variant options (ie. size, color, etc.) to separate select elements

          For more information on products with multiple options, visit:
            - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
        {% endcomment %}

        <select name="id" data-productid="{{ product.id }}" id="productSelect-free-product-{{ product.id }}" class="product-single__variants">
          {% for variant in product.variants %}
            {% if variant.available %}
              {% comment %}
                Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
              {% endcomment %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
            {% else %}
              <option disabled="disabled">
                {{ variant.title }} - {{ 'products.product.sold_out' | t }}
              </option>
            {% endif %}
          {% endfor %}
        </select>

        {% if product.available %}
          {% for option in product.options %}
            {% include 'swatch' with option %}
          {% endfor %}
        {% endif %}

        {% comment %}
        <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
        <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
        {% endcomment %}
        <button onclick="obApi('track', 'Add To Cart');" type="submit" name="add" id="AddToCart-free-product-{{ product.id }}" class="btn btn--small">
          <span id="AddToCartText-{{ product.id }}">{{ 'products.product.add_to_cart' | t }}</span>
        </button>
      </form>

      <div class="sca-fg-cat-list" style="display:none;" name="secomapp-fg-data-free-product-{{ product.id }}"> </div>

      {% comment %}
      <div class="large--hide">
        {% unless product.type == 'Gift' %}
          <h3 class="product-title h5 text-center text-uppercase" itemprop="name" id="variantTitle_m-free-product-{{ product.id }}"></h3>
          <span class="h4">{{ product.title }}</span>
        {% else %}
          <h3 class="product-title h5 text-center text-uppercase" itemprop="name">{{ product.title }}</h3>
        {% endunless %}
        <div class="product-description rte">
          {{ product.description }}
        </div>
      </div>
      {% endcomment %}

      {% if product.metafields.c_f.model_info %}
        <div class="product-meta">
          {{ product.metafields.c_f.model_info }}
        </div>
      {% endif %}

    </div>
  </div>
</div>

<script>

  jQuery(function($) {

    var selectCallbackFreeProduct = function(variant, selector) {
    var filterColor = variant.option1.replace(/ /g, '-').replace('/', ' ').replace(/-&-/g,'-');
    if ( filterColor == 'Charcoal-Heather' ) {
      filterColor = 'Charcoal'
    }
    var filterFreeThumbs = function () {
        $(".product-single-free-product-{{ product.id }} .product-single__thumbnail, .product-single-free-product-{{ product.id }} .mthumb").removeClass('active-filter');;
        $(".product-single-free-product-{{ product.id }} .product-single__thumbnails, .product-single-free-product-{{ product.id }} .owl-carousel").find('.filter-all, .filter-' + filterColor).addClass('active-filter');
        const activeImage = $(".product-single-free-product-{{ product.id }} .product-single__thumbnails, .product-single-free-product-{{ product.id }} .owl-carousel").find('.filter-' + filterColor).find('img').attr('src')
        const el = $('#ProductPhotoImg-free-product-{{ product.id }}')
        el.attr('src', activeImage);
        function showFreeThumbsbyVariant(variant) {
          if ( $( "#owl-demo-free-product-{{ product.id }}" ).length ) {
            var freeowl = $("#owl-demo-free-product-{{ product.id }}").data('owlCarousel');
            freeowl.addItem('<div/>', 0);

            var freenb = freeowl.itemsAmount;
            for (var i = 0; i < (freenb - 1); i++) {
              freeowl.removeItem(1);
            }
            $('#mob-product-images-free-product-{{ product.id }} .mthumb.filter-' + filterColor).each(function () {
              freeowl.addItem($(this).clone());
            });
            freeowl.removeItem(0);
          }
        }
        showFreeThumbsbyVariant(filterColor);
      }
      filterFreeThumbs();

      // BEGIN SWATCHES
      if (variant) {
          var form = jQuery('#' + selector.domIdPrefix).closest('form');
          for (var i=0,length=variant.options.length; i<length; i++) {
            var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
            if (radioButton.size()) {
              radioButton.get(0).checked = true;
            }
          }
        }
       // END SWATCHES
    };
    $('.product-single-free-product-{{ product.id }} .swatch :radio').off('change')
  $('.product-single-free-product-{{ product.id }} .swatch :radio').change(function() {
    var optionIndex = $(this).closest('.swatch').attr('data-option-index');
    var optionProductId = $(this).closest('.swatch').data('product-id')
    var optionValue = $(this).val();
    $('#AddToCartForm-free-product-{{ product.id }} .single-option-selector')
    .eq(optionIndex)
    .val(optionValue)
    .trigger('change');
  });

  ajaxCart.init({
    formSelector: '#AddToCartForm-free-product-{{ product.id }}',
    cartContainer: '#CartContainer',
    addToCartSelector: '#AddToCart-free-product-{{ product.id }}',
    cartCountSelector: '#CartCount',
    cartCostSelector: '#CartCost',
    moneyFormat: {{ shop.money_format | json }}
  });

  if ( window['free-product-{{product.id}}'] ) {
    window['free-product-{{product.id}}'] = null;
  }
    window['free-product-{{product.id}}'] = new Shopify.OptionSelectors('productSelect-free-product-{{ product.id }}', {
      product: {{ product | json }},
      onVariantSelected: selectCallbackFreeProduct,
      enableHistoryState: true,
      selectorClass: 'hihih'
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('#shopify-section-product-free-add-on .selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors for free products
    $('.swatch .header').addClass('sr-only').attr('tabindex', -1)
    $('.product-single-free-product-{{ product.id }} .selector-wrapper').hide();
    window.initFreeProductPopup = true
  })
</script>
