{% assign has_options = false %}
{% assign options = product.options %}

{% for option in options %}
  {% assign option_lower = option | downcase %}
  {% if option_lower != 'title' and option_lower != 'option' %}
    {% assign has_options = true %}
  {% endif %}
{% endfor %}
{% if product.variants.size == 1 %}
  {% assign has_options = false %}
{% endif %}
{% assign product_size_guide_title = product.metafields.size_guide.title %}
{% assign product_size_guide_image = product.metafields.size_guide.image | first %}
{% assign product_size_guide_description = product.metafields.size_guide.description %}
{% assign product_size_guide_sizes = product.metafields.size_guide.sizes %}

{% if has_options %}
  <div id="product-options-wrapper-{{ product.id }}" class="product-options-wrapper hidden" role="dialog" labelledby="tier-price-{{ product.id }}" aria-modal="true" aria-hidden="true">
    <div class="product-options-container-background"></div>
    <div class="product-options-container" role="dialog" aria-labelledby="tier-price">
      <form class="product-options-form-{{ product.id }}">
        <div class="product-options" tabIndex="-1">
          <span class="h1" id="tier-price-{{ product.id }}">{{ product.price | money_without_trailing_zeros }}</span>
          {% if product.variants.size > 1 %}
            {% for option in product.options %}
              <label class="sr-only" for="select-{{ product.id }}-{{ forloop.index }}">{{ product.options[0] }}</label>
              <select class="product-options-select" data-select-index="{{ forloop.index }}" id="select-{{ product.id }}-{{ forloop.index }}" onChange="handleSelectOptionChange(this, '{{ product.id }}');">
                <option disabled="true" selected="true" value="0">
                  {% if forloop.index == 1 %}
                    {{ option_label_1 | default: option }}
                  {% endif %}
                  {% if forloop.index == 2 %}
                    {{ option_label_2 | default: option }}
                  {% endif %}
                </option>
                {% for value in product.options_with_values[forloop.index0].values %}
                  <option value="{{ value }}">
                    {{ value }}
                  </option>
                {% endfor %}
              </select>
              <label class="error" id="option-select-error-{{ forloop.index0 }}" for="select-{{ product.id }}-{{ forloop.index }}">Select an option</label>
            {% endfor %}
          {% endif %}
          <select name="id" id="product-select-{{ product.id }}" class="product-select">
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}"
                data-variant-price="{{ variant.price | money }}">
                {{ variant.title }}
              </option>
            {% endfor %}
          </select>
          {% if product_size_guide_sizes %}
            <button class="size-chart-link" type="button" onClick="openDialog('product-size-chart-{{ product.id }}', this)">Size Chart</button>
            <div class="product-size-chart">
              <div id="product-size-chart-{{ product.id }}" role="dialog" aria-labelledby="size-chart-label-{{ product.id }}" aria-modal="true" aria-hidden="true">
                <div class="product-options-container-background">
                </div>
                <div class="product-options-container">
                  <div class="product-options size-guide" tabIndex="-1">
                    <p class="h2">Size Guide</p>
                    <div class="size-guide-content">
                      <div class="fit-details-info">
                        {% if product_size_guide_image %}
                          <img src="{{ product_size_guide_image.src }}" alt="{{ product_size_guide_image.alt }}" />
                        {% endif %}
                        <div class="fit-details-info__description">
                          {% if product_size_guide_title %}
                            <p class="h3" style="margin-bottom: .5rem; text-transform: uppercase;">{{ product_size_guide_title }}</p>
                          {% endif %}
                          {% if product_size_guide_description %}
                            <p>{{ product_size_guide_description }}</p>
                          {% endif %}
                        </div>
                      </div>
                      <div class="table-wrapper">
                        {{ product_size_guide_sizes }}
                      </div>
                      <img class="mobile-fit-details-image" src="{{ product_size_guide_image.src }}" alt="{{ product_size_guide_image.alt }}" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          <a href="#close" class="close-product-options">
            <img src="{{ close-x.svg | asset_url }}"/>
          </a>
          <input style="margin-top: 1rem;" class="btn btn--xlarge" type="submit" value="Add to cart"/>
        </div>
      </form>
    </div>
  </div>
{% endif %}

<script>
    $('.product-options-form-{{ product.id }} .product-options-select').on('change', function () {
        $('.product-options-form-{{ product.id }} .error').hide()  
    })
  $('.product-options-form-{{ product.id }}').on('submit', function (e) {
    e.preventDefault()
    let shouldAddToCart = true
    $('.product-options-select', e.target).removeClass('error')
    $('.product-options-select', e.target).each( (index, optionSelect) => {
        if ( $('option:checked', optionSelect).val() === '0' ) {
            shouldAddToCart = false
            $(optionSelect).next('.error').show()
        }
    })
    //var product = {{ all_products[product] | json }};
    
    const optionsArr = $('.product-options-form-{{ product.id }} .product-options-select').map( selectEl => {
      return $(selectEl).val()
    })
    
    var selectedVariant = $('.product-options-form-{{ product.id }} .product-select option:selected')
    
    {% comment %} var matchedVariant = product.variants.find(variant => variant.id.toString() === selectedVariant.toString()); {% endcomment %}
    var variant = {
      id: selectedVariant.val(),
      price: selectedVariant.data('variant-price')
    }
    var product = {
      title: "{{ product.title | escape }}",
      id: {{ product.id }},
      image: "{{ product.images[0] }}",
      vendor: '{{ product.vendor | escape }}',
      price: variant.price
    }

    if ( variant && shouldAddToCart ) {
      addProductToCart(product, variant.id)
    }
  })
</script>
