{% if template contains 'recommendations' %}
    <div id="cart-data">
        {% capture 'recommendations' %}
            {
                "reqsHeading": "{{ section.settings.heading | strip_newlines | escape}}",
                "reqsHeadingEmpty": "{{ section.settings.heading_empty | strip_newlines | escape }}",
                "reqsText": "{{ section.settings.text_empty | strip_newlines | escape }}",
                "recommendations": [
                    {% for block in section.blocks %}
                        {% comment %}{{ all_products[block.settings.product] | json }}{% endcomment %}
                        "{{ block.settings.product }}"
                        {% unless forloop.index == section.blocks.size %},{% endunless %}
                    {% endfor %}
                ]
            }
        {% endcapture %}
        {{ recommendations | strip_newlines | trim }}
    </div>
{% endif %}
{% schema %}
    {
        "name": "Recommendations",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Product recommendations heading"
            },
            {
                "type": "text",
                "id": "heading_empty",
                "label": "Product recommendations heading (empty)"
            },
            {
                "type": "text",
                "id": "text_empty",
                "label": "Product recommendations text (empty)"
            }
        ],
        "blocks": [
            {
                "type": "products",
                "name": "Product",
                "settings": [
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Recommended Product"
                    }
                ]
            }
        ]
    }
{% endschema %}