{% assign _section = section.settings %}
<section class="reserve-media-with-text" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="800">
  {%- if _section.background_mobile -%}
    {% render 'image', class: 'reserve-media-with-text__background-mobile', image: _section.background_mobile %}
  {%- endif -%}
  {%- if _section.background_desktop -%}
    {% render 'image', class: 'reserve-media-with-text__background-desktop', image: _section.background_desktop %}
  {%- endif -%}
  <div class="container reserve-container">
    <div class="flex flex-col media-with-text__content sm:flex-row">
      {% if _section.logo_image != blank %}
        {% render 'image', class: 'reserve-media-with-text__logo flex justify-center sm:hidden mb-[24px]', image: _section.logo_image %}
      {% endif %}
      {%- if section.blocks.size > 0 -%}
        <div class="media-with-text__media-wrapper">
          {%- for block in section.blocks -%}
            {%- if block.settings.media_image_mobile != blank or block.settings.media_video_mobile != blank -%}
              <div class="reserve-media-with-text__item {% if _section.information_title != blank %} reserve-media-with-text__item--secondary{% endif %}">
                {%- if block.settings.media_type == 'video' -%}
                  {%- render 'reserve-video',
                    class: 'reserve-media-with-text__video-mobile',
                    video: block.settings.media_video_mobile,
                    video_url: block.settings.video_url_mobile,
                    autoplay: true,
                    muted: true,
                    show_muted: true,
                    overlay: block.settings.media_overlay
                  -%}
                  {%- render 'reserve-video',
                    class: 'reserve-media-with-text__video-desktop',
                    video: block.settings.media_video_desktop,
                    video_url: block.settings.video_url_desktop,
                    autoplay: true,
                    muted: true,
                    show_muted: true,
                    overlay: block.settings.media_overlay
                  -%}
                {%- else -%}
                  {% render 'image', class: 'reserve-media-with-text__image-mobile', classes: 'animation-image', image: block.settings.media_image_mobile %}
                  {% render 'image', class: 'reserve-media-with-text__image-desktop', classes: 'animation-image', image: block.settings.media_image_desktop %}
                  {%- if block.settings.media_overlay != blank -%}
                    <div class="reserve-media-with-text__overlay" style="opacity: {{ block.settings.media_overlay | times: 0.01 }}"></div>
                  {%- endif -%}
                {%- endif -%}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- endif -%}

      <div class="media-with-text__content-wrapper">
        <div class="media-with-text__content__inner">
          {% if _section.logo_image != blank %}
            {% render 'image', class: 'hidden sm:inline-flex mb-[21px] md:mb-[24px] reserve-media-with-text__logo', image: _section.logo_image %}
          {% endif %}
          {% if _section.title != blank %}
            <h2 class="h2-reserve reserve-media-with-text__title">{{ _section.title }}</h2>
          {% endif %}
          {% if _section.description != blank %}
            <div class="p3 reserve-media-with-text__description">{{ _section.description }}</div>
          {% endif %}
          {% if _section.button_text != blank and _section.button_link != blank %}
            <a href="{{ _section.button_link }}" class="reserve-btn reserve-btn--outline-black inline-flex mt-[20px] lg:mt-[24px] reserve-media-with-text__cta">{{ _section.button_text }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Reserve - Media With Text",
  "settings": [
    {
      "type": "header",
      "content": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "background_desktop",
      "label": "Background (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "background_mobile",
      "label": "Background (Mobile)"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "max_blocks": 1,
  "blocks": [
    {
      "type": "media",
      "name": "Media",
      "settings": [
        {
          "type": "select",
          "id": "media_type",
          "label": "Media Type",
          "options": [
            {
              "value": "image",
              "label": "Image"
            },
            {
              "value": "video",
              "label": "Video"
            }
          ],
          "default": "image"
        },
        {
          "type": "range",
          "id": "media_overlay",
          "label": "Media Overlay",
          "default": 5,
          "min": 0,
          "max": 100,
          "step": 1
        },
        {
          "type": "header",
          "content": "Media Image"
        },
        {
          "type": "image_picker",
          "id": "media_image_mobile",
          "label": "Media Image (Mobile)"
        },
        {
          "type": "image_picker",
          "id": "media_image_desktop",
          "label": "Media Image (Desktop)"
        },
        {
          "type": "header",
          "content": "Media Video"
        },
        {
          "type": "video",
          "id": "media_video_mobile",
          "label": "Media Video (Mobile)"
        },
        {
          "type": "video",
          "id": "media_video_desktop",
          "label": "Media Video (Desktop)"
        },
        {
          "type": "video_url",
          "id": "video_url_mobile",
          "label": "Video Url (Mobile)",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "info": "Link Youtube & Vimeo"
        },
        {
          "type": "video_url",
          "id": "video_url_desktop",
          "label": "Video Url (Desktop)",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "info": "Link Youtube & Vimeo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reserve - Media With Text"
    }
  ]
}
{% endschema %}