<div class="gd_facts">
  {%- if section.settings.title != blank or section.settings.text != blank -%}
    <div class="wrapper text-center">
      <div>
        <svg width="171" height="66" viewBox="0 0 171 66" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M106.234 31.8788L106.033 31.6061L105.831 31.8788C105.1 32.8707 104.223 33.7472 103.231 34.4791L102.959 34.6802L103.231 34.8814C104.223 35.6133 105.1 36.4898 105.831 37.4817L106.033 37.7544L106.234 37.4817C106.966 36.4898 107.842 35.6133 108.834 34.8814L109.107 34.6802L108.834 34.4791C107.842 33.7472 106.966 32.8707 106.234 31.8788ZM101.225 39.4877C99.6857 37.9482 97.5977 37.0833 95.4205 37.0833C94.7832 37.0833 94.1719 36.8301 93.7213 36.3795C93.2706 35.9288 93.0175 35.3176 93.0175 34.6802C93.0175 34.0429 93.2706 33.4317 93.7213 32.981C94.1719 32.5304 94.7832 32.2772 95.4205 32.2772C97.5977 32.2772 99.6857 31.4123 101.225 29.8728C102.765 28.3333 103.63 26.2453 103.63 24.0681C103.63 23.4308 103.883 22.8195 104.333 22.3689C104.784 21.9182 105.395 21.665 106.033 21.665C106.67 21.665 107.281 21.9182 107.732 22.3689C108.183 22.8195 108.436 23.4308 108.436 24.0681C108.436 26.2453 109.301 28.3333 110.84 29.8728C112.38 31.4123 114.468 32.2772 116.645 32.2772C117.282 32.2772 117.893 32.5304 118.344 32.981C118.795 33.4317 119.048 34.0429 119.048 34.6802C119.048 35.3176 118.795 35.9288 118.344 36.3795C117.893 36.8301 117.282 37.0833 116.645 37.0833C114.468 37.0833 112.38 37.9482 110.84 39.4877C109.301 41.0272 108.436 43.1152 108.436 45.2924C108.436 45.9297 108.183 46.541 107.732 46.9916C107.281 47.4423 106.67 47.6955 106.033 47.6955C105.395 47.6955 104.784 47.4423 104.333 46.9916C103.883 46.541 103.63 45.9297 103.63 45.2924C103.63 43.1152 102.765 41.0272 101.225 39.4877Z" fill="#C6F6E5" stroke="#231F20" stroke-width="0.5"/>
          <path d="M43.4664 10.6862L43.2652 10.4135L43.064 10.6862C42.3322 11.6781 41.4557 12.5546 40.4637 13.2865L40.1911 13.4876L40.4637 13.6888C41.4557 14.4206 42.3322 15.2972 43.064 16.2891L43.2652 16.5617L43.4664 16.2891C44.1982 15.2972 45.0748 14.4206 46.0667 13.6888L46.3393 13.4876L46.0667 13.2865C45.0748 12.5546 44.1982 11.6781 43.4664 10.6862ZM38.4578 18.2951C36.9183 16.7555 34.8302 15.8907 32.653 15.8907C32.0157 15.8907 31.4045 15.6375 30.9538 15.1868C30.5032 14.7362 30.25 14.1249 30.25 13.4876C30.25 12.8503 30.5032 12.2391 30.9538 11.7884C31.4045 11.3378 32.0157 11.0846 32.653 11.0846C34.8302 11.0846 36.9183 10.2197 38.4578 8.68018C39.9973 7.14067 40.8622 5.05265 40.8622 2.87545C40.8622 2.23813 41.1153 1.6269 41.566 1.17625C42.0167 0.725589 42.6279 0.472412 43.2652 0.472412C43.9025 0.472412 44.5138 0.725589 44.9644 1.17625C45.4151 1.6269 45.6682 2.23813 45.6682 2.87545C45.6683 5.05265 46.5331 7.14067 48.0726 8.68018C49.6122 10.2197 51.7002 11.0846 53.8774 11.0846C54.5147 11.0846 55.1259 11.3378 55.5766 11.7884C56.0272 12.2391 56.2804 12.8503 56.2804 13.4876C56.2804 14.1249 56.0272 14.7362 55.5766 15.1868C55.1259 15.6375 54.5147 15.8907 53.8774 15.8907C51.7002 15.8907 49.6122 16.7555 48.0726 18.2951C46.5331 19.8346 45.6682 21.9226 45.6682 24.0998C45.6682 24.7371 45.4151 25.3483 44.9644 25.799C44.5138 26.2497 43.9025 26.5028 43.2652 26.5028C42.6279 26.5028 42.0167 26.2497 41.566 25.799C41.1153 25.3483 40.8622 24.7371 40.8622 24.0998C40.8622 21.9226 39.9973 19.8346 38.4578 18.2951Z" fill="#C6F6E5" stroke="#231F20" stroke-width="0.5"/>
          <path d="M144.14 10.6122V10.3622H143.89H141.237C140.6 10.3622 139.989 10.109 139.538 9.65833C139.087 9.20767 138.834 8.59645 138.834 7.95912C138.834 7.3218 139.087 6.71058 139.538 6.25992C139.989 5.80926 140.6 5.55608 141.237 5.55608H143.89H144.14V5.30608V2.65304C144.14 2.01571 144.393 1.40449 144.844 0.953835C145.295 0.503177 145.906 0.25 146.543 0.25C147.181 0.25 147.792 0.503177 148.242 0.953835C148.693 1.40449 148.946 2.01571 148.946 2.65304V5.30608V5.55608H149.196H151.849C152.487 5.55608 153.098 5.80926 153.549 6.25992C153.999 6.71058 154.252 7.3218 154.252 7.95912C154.252 8.59645 153.999 9.20767 153.549 9.65833C153.098 10.109 152.487 10.3622 151.849 10.3622H149.196H148.946V10.6122V13.2652C148.946 13.9025 148.693 14.5138 148.242 14.9644C147.792 15.4151 147.181 15.6682 146.543 15.6682C145.906 15.6682 145.295 15.4151 144.844 14.9644C144.393 14.5138 144.14 13.9025 144.14 13.2652V10.6122Z" fill="#C6F6E5" stroke="#231F20" stroke-width="0.5"/>
          <path d="M5.55608 53.6122V53.3622H5.30608H2.65304C2.01572 53.3622 1.40449 53.109 0.953833 52.6583C0.503175 52.2077 0.25 51.5965 0.25 50.9591C0.25 50.3218 0.503175 49.7106 0.953833 49.2599C1.40449 48.8093 2.01572 48.5561 2.65304 48.5561H5.30608H5.55608V48.3061V45.653C5.55608 45.0157 5.80926 44.4045 6.25992 43.9538C6.71057 43.5032 7.3218 43.25 7.95912 43.25C8.59645 43.25 9.20768 43.5032 9.65833 43.9538C10.109 44.4045 10.3622 45.0157 10.3622 45.653V48.3061V48.5561H10.6122H13.2652C13.9025 48.5561 14.5138 48.8093 14.9644 49.2599C15.4151 49.7106 15.6682 50.3218 15.6682 50.9591C15.6682 51.5965 15.4151 52.2077 14.9644 52.6583C14.5138 53.109 13.9025 53.3622 13.2652 53.3622H10.6122H10.3622V53.6122V56.2652C10.3622 56.9025 10.109 57.5138 9.65833 57.9644C9.20768 58.4151 8.59645 58.6682 7.95912 58.6682C7.3218 58.6682 6.71057 58.4151 6.25992 57.9644C5.80926 57.5138 5.55608 56.9025 5.55608 56.2652V53.6122Z" fill="#C6F6E5" stroke="#231F20" stroke-width="0.5"/>
          <path d="M170.361 63.1328C170.361 64.4599 169.285 65.5358 167.958 65.5358C166.631 65.5358 165.555 64.4599 165.555 63.1328C165.555 61.8056 166.631 60.7297 167.958 60.7297C169.285 60.7297 170.361 61.8056 170.361 63.1328Z" fill="#C6F6E5" stroke="#231F20" stroke-width="0.5"/>
          <path d="M81.9053 42.6394C81.9053 43.9665 80.8294 45.0424 79.5023 45.0424C78.1751 45.0424 77.0992 43.9665 77.0992 42.6394C77.0992 41.3122 78.1751 40.2363 79.5023 40.2363C80.8294 40.2363 81.9053 41.3122 81.9053 42.6394Z" fill="#C6F6E5" stroke="#231F20" stroke-width="0.5"/>
          </svg>
      </div>
      <h2 class="h1 text-center">{{ section.settings.title }}</h2>
      {%- if section.settings.text != blank -%}
        <p>{{ section.settings.text }}</p>
      {%- endif -%}
    </div>
  {%- endif -%}
  <ul class="gd_facts__list">
    {%- for block in section.blocks -%}
    <li class="gd_facts__row">
      <div>{{ block.settings.svg }}</div>
      <div>
        <h3 class="h5">{{ block.settings.title }}</h3>
        <p>{{ block.settings.text }}</p>
      </div>
    </li>
    {%- endfor -%}
  </ul>
  {%- if section.settings.closing_text != blank -%}
    <div class="wrapper text-center text-blue">
      <p>{{ section.settings.closing_text }}</p>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Guide Dog - Fun Facts",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "closing_text",
      "label": "Closing Text"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "textarea",
          "id": "svg",
          "label": "SVG Code"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Guide Dog - Fun Facts"
    }
  ]
}
{% endschema %}
