{%-liquid
  if product.metafields.guidedog.unless_cookie
    assign cookie = product.metafields.guidedog.unless_cookie | strip
    assign page_url = content_for_header | split:'"pageurl":"' | last | split:'"' | first | split: request.host | last | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&'
    assign unless_cookie = false

    for i in (1..1)
      unless page_url contains "?"
        break
      endunless
      assign query_string = page_url | split:'?' | last
      assign qry_parts= query_string | split:'&'

      for part in qry_parts
        assign key_and_value = part | split:'='
        if key_and_value.size > 1
          if key_and_value[0] == cookie
            assign egg_colors = 'blue,green,purple,pink'
            if egg_colors contains key_and_value[1]
              assign unless_cookie = key_and_value[1]
            endif
          endif
        endif
      endfor
    endfor
  endif
-%}

{% unless settings.easter_enabled and settings.hunt_type == 'easter' %}
  {% assign unless_cookie = false %}
{% endunless %}

{% assign has_video = false %}

{%- if section.settings.product.id == product.id -%}
  {% capture 'video_section' %}
    {% for block in section.blocks %}
      {% if block.type == 'video' %}
        {% assign has_video = true %}
          <div id="guide-dog-video">
            <div class="container">
              <div class="grid-new">
                <div class="grid-new__item video-block" style="background-image: url('{{ block.settings.video_placeholder | img_url: '1200x' }}')">
                  {% if block.settings.youtube_subtitles %}
                    <div class="text-right audio-description"><a href="{{ block.settings.youtube_subtitles }}" target="_blank">Video with Audio Description</a></div>
                  {% endif %}
                </div>

                <div class="remodal video" data-remodal-id="{{ block.settings.youtube_id }}-grid-video" aria-modal="true">
                  <button data-remodal-action="close" class="remodal-close"></button>
                  <div class="youtube-player" data-id="{{ block.settings.youtube_id }}"></div>
                </div>
              </div>
            </div>
            <a class="play-btn" data-fancybox href="https://www.youtube.com/watch?v={{ block.settings.youtube_id }}" title="play video">
              
            </a>
          </div>
      {% endif %}
    {% endfor %}
  {% endcapture %}
  <section id="product_features" class="sunglasses_about sunglasses_about--interactive{% if has_video %} has-video{% endif %}" tabindex="-1">
    {% if section.settings.hero_title != blank or section.settings.hero_subcopy != blank %}
      <div class="text_container">
          <h2 class="h1">{{ section.settings.hero_title }}</h2>
          <p>{{ section.settings.hero_subcopy }}</p>
      </div>
    {% endif %}
    {% if section.blocks %}
      {% if has_video %}
        {{ video_section }}
      {% endif %}
      {% unless has_video %}
        <div class="interactive_grid medium-down--hide">

            {% for block in section.blocks %}
            <div class="interactive_grid__item is-active" data-shine="trigger" data-id="{{ forloop.index }}" tabindex="0">
                <h3>{{ block.settings.feature_title }}</h3>
                <p>{{ block.settings.feature_copy }}</p>
            </div>
            {% endfor %}

            <div class="interactive_grid__image" data-shine="destination">
                {% if unless_cookie != false and section.settings.about_main_easter-img %}
                  <img class="is-active lazyload" data-id="0" src="{{ section.settings.about_main_easter-img | img_url: '1000x' }}" alt="{{ section.settings.about_main_easter-img.alt }}">
                {% elsif section.settings.about_main-img %}
                  <img class="is-active lazyload" data-id="0" src="{{ section.settings.about_main-img | img_url: '1000x' }}" alt="{{ section.settings.about_main-img.alt }}">
                {% endif %}
                {% for block in section.blocks %}
                  {% if block.settings.feature_img != blank %}
                    <div style="display: none;" class="interactive-temp-image" data-id="{{ forloop.index }}" data-src="{{ block.settings.feature_img | img_url: '1000x' }}" data-alt="{{ block.settings.feature_img.alt }}"></div>
                  {% endif %}
                {% endfor %}
            </div>

        </div>
      {% endunless %}
    {% endif %}
  </section>

  {% if unless_cookie != false and section.settings.about_main_easter-img %}
    <div class="large--hide medium-down--show" style="width: 80%; max-width: 400px; margin: 0 auto; position: relative;">
      <img class="is-active lazyload" data-id="0" src="{{ section.settings.about_main_easter-img | img_url: '1000x' }}" alt="{{ section.settings.about_main_easter-img.alt }}">
    </div>
  {% endif %}

  {% unless has_video %}
    <div id="owl-demo2" class="owl-carousel large--hide meet-dog-carousel">
      {% assign dataColorCount = 0 %}
      {% for block in section.blocks %}

        {% assign dataColor = 'all' %}
        {% assign dataColor = block.settings.feature_title | split: ' - ' | last | remove: ' Hover' | replace: ' ', '-' | replace: '/', '-' | replace: '-&-', '-' %}
        {% assign dataColorCount = dataColorCount | plus: 1 %}

        <div style="text-align: center;" class="mthumb filter-{{ dataColor }}" data-color-count="{{ dataColorCount }}">
          {% if block.settings.feature_img != blank and unless_cookie == blank %}
                <img style="margin: 0 auto;" class="lazyload" data-id="{{ forloop.index }}" src="{{ block.settings.feature_img | img_url: '660x' }}" alt="{{ block.settings.feature_img.alt }}">
            {% endif %}
            <div class="mobile_interactive_item">
                <h3>{{ block.settings.feature_title }}</h3>
                <p>{{ block.settings.feature_copy }}</p>
            </div>
        </div>
      {% endfor %}

      {% comment %} <div class="owl-controls clickable">
        <div class="owl-buttons">
        <div class="owl-prev">previous image</div>
        <div class="owl-next">next image</div>
        </div>
      </div> {% endcomment %}
    </div>

    <div id="mob-product-images" class="owl-carousel"></div>

    <script>
      $(document).ready(function(){
        var options = {
        navigation : true, // Show next and prev buttons
        navigationText: ["",""],
        slideSpeed : 300,
        autoPlay : 4000,
        paginationSpeed : 400,
        singleItem:true,
        pagination: true,
        addClassActive: true,
        nav: true,
        paginationNumbers: false,
        autoHeight: false
        };
        $("#owl-demo2").owlCarousel(options);
        $('#owl-demo2 .mthumb').clone().appendTo($('#mob-product-images'));

        var slide = 0;
        $('.carouselGoUp').click(function() {
        var current_transform = parseInt($('.thumbnail_vert').css('transform').split(',')[5]);
        $('.carouselGoDown').removeClass('hideBtn');
        if (current_transform < '0') {
            slide+=180;
            $('.thumbnail_vert').css ({
            'transform': 'translateY(' + slide + 'px)',
            '-webkit-transform': 'translateY(' + slide + 'deg)',
            '-moz-transform': 'translateY(' + slide + 'deg)',
            '-o-transform': 'translateY(' + slide + 'deg)',
            '-ms-transform': 'translateY(' + slide + 'deg)'
            });
        }
        if (current_transform == '-180') {
            $('.carouselGoUp').addClass('hideBtn');
        }

        });

        $('.carouselGoDown').click(function() {
        var active_items = $('.thumbnail_vert .active-filter').length
        var max_height = -((active_items - 4) * 180);
        var current_transform = parseInt($('.thumbnail_vert').css('transform').split(',')[5]);
        $('.carouselGoUp').removeClass('hideBtn');
        if (current_transform >= max_height) {
            slide-=180;
            $('.thumbnail_vert').css ({
            'transform': 'translateY(' + slide + 'px)',
            '-webkit-transform': 'translateY(' + slide + 'deg)',
            '-moz-transform': 'translateY(' + slide + 'deg)',
            '-o-transform': 'translateY(' + slide + 'deg)',
            '-ms-transform': 'translateY(' + slide + 'deg)'
            });
        }
        if (current_transform <= max_height) {
            $(this).addClass('hideBtn');
        }
        });

      });
      //Count
      $( window ).on( "load", function() {
        var totalItems = $('.owl-item').length;
        var currentIndex = $('div.active').index() + 1;
        $('.num').html(''+currentIndex+'/'+totalItems+'');

        $('#owl-demo2').bind('slid', function() {
        currentIndex = $('div.active').index() + 1;
        $('.num').html(''+currentIndex+'/'+totalItems+'');
        });
      });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
          const triggers = document.querySelectorAll("[data-shine='trigger']")
          const destinationContainer = document.querySelector("[data-shine='destination']")
          const tempImages = document.querySelectorAll(".interactive-temp-image")
          tempImages.forEach((el) => {
            const tempImage = document.createElement('img')
            const tempImageId = el.getAttribute("data-id")
            const tempImageAlt = el.getAttribute("data-alt")
            const tempImageSrc = el.getAttribute("data-src")
            tempImage.setAttribute('data-id', tempImageId);
            tempImage.setAttribute('data-alt', tempImageAlt);
            tempImage.setAttribute('data-temp-src', tempImageSrc);
            tempImage.setAttribute('class', 'lazyload');
            destinationContainer.append(tempImage)
          })
          const images = destinationContainer.querySelectorAll("img")

          function showImage(evt) {
              // const targetImage = images[3]
              const selection = evt.target.getAttribute("data-id");
              triggers.forEach((el) => {
                  el.classList.remove('is-active')
                  evt.target.classList.add('is-active')
              })
              images.forEach((el) => {
                  el.classList.remove('is-active')
                  const imageSelect = el.getAttribute("data-id")
                  if (imageSelect === selection) {
                    if ( !el.getAttribute("src") ) {
                      el.src = el.getAttribute("data-temp-src")
                    }
                    el.classList.add('is-active')
                  }
              })
          }

          function runShine() {
              triggers.forEach(el => {
                  el.addEventListener('mouseenter', showImage)
                  el.addEventListener('focus', showImage)
              })
          }

          //runShine()

      });

    </script>
  {% endunless %}

{%- endif -%}

{% schema %}
{
  "name": "Product Features",
  "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Trigger Product",
        "info": "This whole section will only show if the current product page mathches this field's product."
      },
      {
          "type": "image_picker",
          "id": "about_main-img",
          "label": "Main image"
      },
      {
          "type": "image_picker",
          "id": "about_main_easter-img",
          "label": "Main image easter"
      },
      {
          "type": "text",
          "id": "hero_title",
          "label": "Hero title"
      },
      {
          "type": "text",
          "id": "hero_subcopy",
          "label": "Hero subcopy"
      }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Product Features",
      "settings": [
        {
          "type": "text",
          "id": "feature_title",
          "label": "Feature title"
        },
        {
          "type": "text",
          "id": "feature_copy",
          "label": "Feature copy"
        },
        {
          "type": "image_picker",
          "id": "feature_img",
          "label": "Rollover image"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "text",
          "id": "youtube_id",
          "label": "YouTube ID"
        },
        {
          "type": "text",
          "id": "youtube_subtitles",
          "label": "YouTube Subtitles"
        },
        {
          "type": "image_picker",
          "id": "video_placeholder",
          "label": "Video Placeholder Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Guide Dog",
      "name": "Meet Guide Dog"
    }
  ]
}
{% endschema %}
