  <article itemscope itemtype="http://schema.org/Article">
            
   
    
    <header class="section-header text-center" margin-top: 100px>
        {% include 'breadcrumb' %}
        <h1 class="article__title">{{ article.title }}</h1>
        {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
    </header>
    
    <div class="rte article__body" itemprop="articleBody">
      {{ article.content }}
    </div>

    {% if blog.next_article or blog.previous_article %}
    
      <p class="clearfix visually-hidden">
        {% if blog.previous_article %}
          <span class="left">
            &larr; {{ 'blogs.article.older_post' | t | link_to: blog.previous_article }}
          </span>
        {% endif %}
        {% if blog.next_article %}
          <span class="right">
            {{ 'blogs.article.newer_post' | t | link_to: blog.next_article }} &rarr;
          </span>
        {% endif %}
      </p>
            
    {% endif %}

  </article>
  
 {% include 'blog-recent-posts' %}