<div id="order-search">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item">
        <div id="order-search-form-wrapper">
          <div id="order-search-form-container">
            <div class="eye-closed-container" style="text-align: center;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 106.3 48.9" stroke-miterlimit="10" stroke-width="5px" class="eye-closed">
                <path d="M91,1.2A43,43,0,0,1,53.4,24.3,42.9,42.9,0,0,1,15.2,2"></path>
                <line x1="14.6" y1="14.9" x2="1.5" y2="24.9"></line>
                <line x1="27.1" y1="26.2" x2="17.9" y2="39.9"></line>
                <line x1="44.6" y1="32.2" x2="41.9" y2="48.5"></line>
                <line x1="63.5" y1="32.2" x2="66.1" y2="48.5"></line>
                <line x1="79.3" y1="26.2" x2="88.5" y2="39.9"></line>
                <line x1="91.6" y1="14.9" x2="104.8" y2="24.9"></line>
              </svg>
            </div>
            <h1>Thanks for shopping blind!</h1>
            <p>Enter your order number to see a description of the items you received</p>
            <form id="order-search-form">
              {% include 'loader' %}
              <input id="order-id-input" name="order_id" type="text" placeholder="Order ID"/>
              <input class="btn" type="submit" value="find my order"/>
            </form>
            <div class="order-search-error">We can't find that order. Try again or <a href="mailto:hello@twoblindbrothers.com">contact us</a></div>
          </div>
        </div>
      </div>
      <div class="grid__item large--two-thirds push--large--one-sixth">
        <div id="order-items">
        </div>
      </div>
      <div class="grid__item">
        {% include 'related-products' %}
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" defer></script>
<script src="{{ 'api.jquery.js' | shopify_asset_url }}" defer></script>
<script src="{{ 'order-search.js' | asset_url }}" defer></script>
{% comment %} {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
{{ 'order-search.js' | asset_url | script_tag }} {% endcomment %}
{{ 'order-search.scss.css' | asset_url | stylesheet_tag }}
